* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 117px;
    min-height: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
}

a {
    display: inline-block;
}

img {
    object-fit: cover;
}
/* header */
header {
    background: #fffaf5;
    padding-top: 26px;
    padding-bottom: 8px;
}

.header-fixed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
}

.nav-bar__item {
    padding: 16px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

.nav-bar__item a::before {
    display: block;
    content: attr(title);
    height: 0;
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.nav-bar__item--active,
.nav-bar__item:hover {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 600;
}

.header__btn {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    transition: scale linear 0.2s;
}

.header__btn:hover {
    scale: 1.1 1.1;
}

/* hero */
.hero {
    padding: 92px;
    background: #fffaf5;
}

.hero-warp {
    height: 620px;
    display: flex;
}

.hero__img-gallery {
    width: 47%;
}

.hero-content {
    width: 53%;
}

.hero__img-gallery {
    position: relative;
}

.hero__item-img {
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__item-img--large {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 388px;
    height: 488px;
    background: #fe997b;
}

.hero__item-img--small {
    position: absolute;
    right: 0;
    bottom: 36px;

    width: 186px;
    height: 244px;
    background: #faa7ad;
    z-index: 2;
}

.hero__item-sp {
    position: absolute;
    top: 0;
    left: 376px;
}

.hero__item-cir {
    position: absolute;
    top: 245px;
    left: -57.5px;
}

.hero-info-service {
    position: absolute;
    bottom: 0;
    right: 171px;
    z-index: 3;
    padding: 19px 17px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-info-service__row {
    align-items: center;
    display: flex;
    gap: 9px;
}

.hero-info-service__row:first-child {
    position: relative;
    padding-bottom: 20px;
}

.hero-info-service__row:last-child {
    margin-top: 20px;
}

.hero-info-service__row:first-child::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 10px;
}

.hero-info-service__sub-title {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-info-service__sub-title::before {
    display: block;
    content: "";
    width: 118px;
    height: 4px;
    background: #f2f2f2;
    border-radius: 10px;
    order: 3;
}

.hero-info-service__sub-title::after {
    display: block;
    content: "";
    width: 39px;
    height: 4px;
    background: #f2f2f2;
    border-radius: 10px;
    order: 2;
}

.hero-info-service__img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.hero-info-service__img--yellow {
    background: #fec23f;
}
.hero-info-service__img--blue-sky {
    background: #6597c2;
}
