* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
    background: #fffaf5;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 117px;
    min-height: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
}

a {
    display: inline-block;
}

img {
    object-fit: cover;
}

.heading-1 {
    color: var(--primary-color);
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.heading-2 {
    color: var(--primary-color);
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* header */
header {
    position: sticky;
    left: 0;
    top: -18px;
    background: #fffaf5;
    padding-top: 26px;
    padding-bottom: 8px;
    z-index: 999;
}

.header-fixed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
}

.nav-bar__item {
    padding: 16px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

.nav-bar__item a::before {
    display: block;
    content: attr(title);
    height: 0;
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.nav-bar__item--active,
.nav-bar__item:hover {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 600;
}

.header__btn {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    transition: scale linear 0.2s;
}

.header__btn:hover {
    scale: 1.1 1.1;
}

/* hero */
.hero {
    padding-top: 92px;
    background: #fffaf5;
}

.hero-warp {
    height: 620px;
    display: flex;
}

.hero__img-gallery {
    width: 47%;
}

.hero-content {
    width: 53%;
}

.hero__img-gallery {
    position: relative;
}

.hero__item-img {
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__item-img--large {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 388px;
    height: 488px;
    background: #fe997b;
}

.hero__item-img--small {
    position: absolute;
    right: 0;
    bottom: 36px;

    width: 186px;
    height: 244px;
    background: #faa7ad;
    z-index: 2;
}

.hero__item-sp {
    position: absolute;
    top: 0;
    left: 376px;
}

.hero__item-cir {
    position: absolute;
    top: 245px;
    left: -57.5px;
}

.hero-info-service {
    position: absolute;
    bottom: 0;
    right: 171px;
    z-index: 3;
    padding: 19px 17px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-info-service__row {
    align-items: center;
    display: flex;
    gap: 9px;
}

.hero-info-service__row:first-child {
    position: relative;
    padding-bottom: 20px;
}

.hero-info-service__row:last-child {
    margin-top: 20px;
}

.hero-info-service__row:first-child::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 10px;
}

.hero-info-service__sub-title {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-info-service__sub-title::before {
    display: block;
    content: "";
    width: 118px;
    height: 4px;
    background: #f2f2f2;
    border-radius: 10px;
    order: 3;
}

.hero-info-service__sub-title::after {
    display: block;
    content: "";
    width: 39px;
    height: 4px;
    background: #f2f2f2;
    border-radius: 10px;
    order: 2;
}

.hero-info-service__img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.hero-info-service__img--yellow {
    background: #fec23f;
}
.hero-info-service__img--blue-sky {
    background: #6597c2;
}

.hero-content {
    margin-left: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero__heading {
    --line-clamp: 3;
    width: 517px;
}

.hero-desc {
    --line-clamp: 3;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.hero__cta {
    margin-top: 38px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.hero__cta-btn {
    min-width: 189px;
    height: 60px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    background: #ff5b2e;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    transition: scale linear 0.2s;
}

.hero__cta-btn:hover {
    scale: 1.1 1.1;
}

.hero__link {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/* about */
.about {
    margin-top: 138px;
}

.main-about {
    height: 551px;
    display: flex;
    align-items: center;
}

.about-content,
.about__img-gallery {
    width: 50%;
}

.about__heading {
    width: 446px;
}

.about__desc {
    --line-clamp: 3;
    margin-top: 24px;
    width: 431px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.about__grid {
    margin-top: 24px;
    display: grid;
    gap: 36px 34px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.about__item-grid:has([type="checkbox"]:checked) label::after {
    opacity: 1;
}

.about__item-grid label {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__item-grid label::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 6px;
}

.about__item-grid label::after {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 6px;
    border-left: 3px #fff solid;
    border-bottom: 3px #fff solid;
    border-radius: 2px;
    rotate: -45deg;
    opacity: 0;
    transition: opacity ease 0.1s;
}

.about__img-gallery {
    position: relative;
    overflow: hidden;
}

.about__img-gallery::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    height: 336px;
    width: 494px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: 1;
}

.about__img-thumb {
    position: relative;
    right: 21px;
    display: block;
    margin-left: auto;
    z-index: 2;
}

.about__layer {
    position: absolute;
    right: -50px;
    top: 157px;
    width: 134px;
    height: 95px;
}

.about__info {
    position: absolute;
    top: 165px;
    left: 0;
    padding-top: 31px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    z-index: 2;
}

.about__info strong {
    display: block;
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__info p {
    width: 83px;
    color: #c6f4f9;
    margin: 14px auto 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
}

.about__info img {
    position: absolute;
    top: -37px;
    right: -32px;
}

/* features */

.features {
    margin-top: 146px;
}

.main-features {
    display: flex;
}

.features__img-gallery {
    width: 39%;
    position: relative;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.features__img {
    width: 100%;
}

.features__icon {
    position: absolute;
}

.features__icon--pos-1 {
    top: 13px;
    right: 63px;
}

.features__icon--pos-2 {
    top: -16px;
    right: 13px;
}

.features__icon--pos-3 {
    top: 33px;
    right: -21px;
}

.features__icon--pos-4 {
    top: 260px;
    right: -33px;
}

.features__icon--pos-5 {
    top: 336px;
    right: 19px;
}

.features__icon--pos-6 {
    bottom: -55px;
    right: -42px;
}

.features__content {
    margin-top: 36px;
    margin-left: 127px;
}

.features__heading {
    width: 543px;
}

.features__desc {
    margin-top: 24px;
    width: 511px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.features__group {
    position: relative;
    padding-bottom: 5px;
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 56px;
}

.features__group::before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 20%;
    height: 2px;
    border-radius: 999px;
    background: #ff5b2e;
}

.features__group::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 999px;
}

.features__item {
    display: flex;
    align-items: center;
}

.features__item-icon--fixed {
    margin-top: 8px;
}

.features__desc-group {
    margin-top: 36px;
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.features__link {
    margin-top: 32px;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-position: under;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

/* services */
.services {
    margin-top: 195px;
    padding: 68px 0 139px;
    background: #fff6ed;
}

.services__question {
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.services__heading {
    margin-top: 15px;
    text-align: center;
}

.services-bottom {
    margin-top: 71px;
    display: grid;
    grid-template-columns: 1fr 1.52fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px 64px;
    grid-template-areas:
        ". img-gallery ."
        ". img-gallery ."
        ". img-gallery .";
}

.services__group-grid {
    position: relative;
    top: 17px;
    grid-area: img-gallery;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.services__img {
    position: relative;
    display: block;
    object-fit: cover;
    z-index: 2;
}
.services__img-gallery {
    position: relative;
}

.services__img-gallery::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "";
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    z-index: 1;
}

.services__article {
    padding: 30px 0 30px 28px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services__title {
    position: relative;
    padding-left: 12px;
    color: var(--primary-color);
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services__title::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 999px;
}

.services__desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.services__group-link {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.services__link {
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.services__btn {
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;

    width: 214px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    transition: opacity ease 0.2s;
}

.services__btn:hover {
    opacity: 0.6;
}

/* Team */
.team {
    margin-top: 130px;
}

.team-top__title {
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.team__heading {
    margin-top: 15px;
    text-align: center;
}

.team-list {
    margin-top: 59px;
    display: flex;
    gap: 37px;
}

.item-team {
    display: flex;
    width: 277px;
    height: 338px;
    flex-direction: column;
    align-items: center;
}

.item-team:nth-child(odd) svg {
    bottom: 0;
}

.item-team:nth-child(even) svg {
    top: 10px;
}

.item-team__group {
    position: relative;
    width: 100%;
    text-align: center;
}

.item-team__group::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 234px;
    height: 266px;
    border-radius: 129.5px;
    background: currentColor;
    z-index: -1;
}

.item-team__group svg {
    position: absolute;
    left: 0;
}

.item-team__img {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    border-bottom-right-radius: 129.5px;
    border-bottom-left-radius: 129.5px;
}

.item-team__title {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.item-team__name {
    color: var(--primary-color);
    margin-top: 14px;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.team-btn {
    margin: 70px auto;
    width: 193px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    transition: box-shadow ease 0.2s, opacity ease 0.2s;
    opacity: 1;
}

.team-btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    opacity: 0.6;
}

/* price */
.price {
    margin-top: 125px;
    padding-top: 86px;
    padding-bottom: 86px;
    background: #fff6ed;
}

.price__heading {
    text-align: center;
}

.price__desc {
    margin: 24px auto 0;
    width: 709px;
    text-align: center;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.price__group-control {
    display: flex;
    margin: 38px auto 0;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
}

.price__link {
    display: inline-block;
    width: 131px;
    height: 56px;
    line-height: 56px;
    border-radius: 31px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ff5b2e;
    transition: background ease 0.2s, color ease 0.2s;
}

.price__link--active {
    background: #ff5b2e;
    color: #fff;
}

.price__link:hover {
    background: #ff5b2e;
    color: #fff;
}

.price-body {
    margin-top: 56px;
    display: flex;
    gap: 44px;
    justify-content: space-between;
}

.price-card {
    padding: 30px 28px;
    width: 302px;
    height: 465px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.price-card__title {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.price-card__sub-title {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.price-card strong {
    margin-top: 24px;
    display: block;
    color: var(--primary-color);
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}

.price__btn {
    margin-top: 22px;
    min-width: 246px;
    height: 44px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);

    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    transition: background ease 0.2s, color ease 0.2s;
}

.price__btn:hover {
    background: #ff5b2e;
    color: #fff;
}

.price__btn--active {
    background: #ff5b2e;
    color: #fff;
}

.price__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.price__item {
    margin-left: 6px;
    display: flex;
    width: 300px;
    gap: 12px;
    align-items: center;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.price__item::before {
    display: inline-block;
    transform: translateY(-50%);
    content: "";
    color: red;
    width: 8.7px;
    height: 4.3px;
    border-left: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    rotate: -45deg;
    opacity: 0.4;
}

.price__item--active.price__item::before {
    opacity: 1;
}

/* feedback */
.feedback {
    margin-top: 32px;
}

.main-feedback {
    height: 491px;
    position: relative;
}

.feedback__item {
    display: flex;
}

.feedback__images {
    position: relative;
    margin-left: 64px;
    width: 29%;
}

.feedback__img {
    position: relative;
    z-index: 1;
    vertical-align: bottom;

    border-radius: 137px;
}

.feedback__images::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    width: 274px;
    height: 350px;
    border-radius: 137px;
    background: #ffda54;
}

.feedback__content {
    padding-left: 67px;
    width: 71%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback__desc {
    width: 553px;
    margin-top: 24px;

    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.56;
}

.feedback__name {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.feedback__name::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
}

.feedback__group-control {
    width: 72px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-105%);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.feedback__dot {
    flex-shrink: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #ff5b2e;
    border-radius: 50%;
    transform: translateX(32px);
    /* đổi thành bội số của 16px là có thể di chuyển */
}

.feedback__dot--special {
    flex-shrink: 0;
    display: inline-block;
    border-radius: 999px;
    width: 24px;
    height: 8px;
    background: #ff5b2e;
}

.feedback__next svg {
    transform: scaleX(-1);
}

.feedback__next,
.feedback__previous {
    color: #ff5b2e;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

:is(.feedback__next, .feedback__previous):hover svg {
    fill: #ff5b2e;
    color: #fff;
}

.feedback__previous {
    left: -82px;
}

.feedback__next {
    right: -82px;
}

.feedback--active {
    color: #fff;
}

.feedback--active svg {
    fill: #ff5b2e;
}

/* blog */

.blog {
    margin-top: 130px;
}

.blog-header {
    display: flex;
    align-items: center;
}

.blog-content {
    margin-left: auto;
    margin-right: 78px;
    width: 350px;
}

.blog__desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.blog__btn {
    margin-top: 24px;
    width: 182px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;

    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    transition: opacity ease 0.2s, box-shadow ease 0.2s;
}

.blog__btn:hover {
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.blog-body {
    margin-top: 54px;
}

.blog-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.blog-item__card {
    padding: 24px 0 0 36px;
    width: 358px;
    border-radius: 24px;
}

.blog-item__date {
    color: #fff;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21; /* 121.429% */
}

.blog-item__images {
    margin-top: 21px;
    width: 322px;
    height: 296px;
}

.blog-item__img {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item__title {
    width: 338px;
    margin-top: 28px;
    color: var(--primary-color);
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.55; /* 154.545% */
}

.blog-item__desc {
    --line-clamp: 3;
    margin-top: 16px;
    width: 351px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

/* footer */
.footer {
    margin-top: 131px;
    padding-top: 52px;
    display: flex;
}

.footer__container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42.7083333%;
    background: #fff6ed;
}

.footer__container-right {
    padding-top: 52px;
    padding-bottom: 48px;
    width: 57.2916667%;
}

.footer__submit {
    margin-left: auto;
    width: 480px;
    max-width: calc(100% - 24px);
}

.footer__info {
    margin-right: auto;
    width: 690px;
    max-width: calc(100% - 24px);
}

.footer__input {
    position: relative;
    margin-top: 40px;
    width: 268px;
    height: 46px;
}

.footer__email {
    display: inline-block;
    width: 100%;
    padding: 16px 50px 16px 22px;
    height: 100%;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #fff;
    outline: none;
}

.footer__email,
.footer__email::placeholder {
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.17; /* 116.667% */
}

.footer__arrow i {
    position: absolute;
    top: 0;
    right: 0;

    display: inline;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #ff5b2e;
    border: 1px #ff5b2e solid;
    transition: color ease 0.25s, background ease 0.25s;
}

.footer__arrow i:hover {
    color: #ff5b2e;
    background: #fff;
}

.footer__follow {
    margin-top: 68px;
}

.footer__title {
    color: var(--primary-color);
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11; /* 111.111% */
}

.footer__group-social {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.footer__group-social i {
    color: var(--primary-color);
    opacity: 0.7;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background: #ffffff;
}
.footer__group-link {
    margin-left: 129px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 58px;
}

.footer__list {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__title {
    color: var(--primary-color);
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11; /* 111.111% */
}

.footer__item {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2; /* 200% */
}

.footer__copyright {
    margin-left: 3.1884%;
    opacity: 0.5;
    margin-top: 52px;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
}
